:root {
  --color-primary: #a3645d;
  --color-secondary: #ffc52f;
  --color-background: #ffedd7;
  --color-text: #412a1c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header img {
  width: 260px;
}
nav {
  display: flex;
  align-items: center;
  margin: 15px;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text);
  padding: 15px;
}
nav li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 30px;
}
.nav__link:hover {
  color: var(--color-secondary);
}
.btn__encomenda {
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 5px;
}
.btn__encomenda:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}
.home__container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50px;
  align-items: center;
  margin: 3.125rem 9.375rem 9.375rem 16.25rem;
}
.home__img img {
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
}
.home__content {
  padding: 0.6rem;
  flex-direction: column;
}
.home__content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  justify-self: right;
}
.home__content p {
  margin-bottom: 0.6rem;
  line-height: 1.5;
  font-size: 1rem;
  justify-content: right;
}
.home__content a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  margin-top: 0.6rem;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 5px;
}
.home__content a:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}
.about__title {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1.25rem;
}
.about__title h2 {
  font-size: xx-large;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 3rem;
  align-items: center;
  margin: 3.125rem 9.375rem 9.375rem 16.25rem;
}
.about__info p {
  display: block;
  line-height: 1.5;
  font-weight: 500;
}
.primeiro {
  margin-bottom: 1rem;
}
.about__img img {
  border-radius: 10px;
}
